/*
https://css-tricks.com/
https://unsplash.com/
http://paletton.com/
https://www.toptal.com/designers/subtlepatterns/
https://specificity.keegan.st/
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Cascade_and_inheritance
*/

/*body {
    background-image: url(../images/crossline-lines.png);
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    color: #3C2B74;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-color: rgba(42, 34, 80);
    cursor: pointer;
}

header li {
    list-style: none;
    display: inline-block;
}
#content {
    border: 5px solid black;
    border-radius: 5px;
}

p {
    color: blue;
}

p {
    background-color: black;
}
#bg-id{
    background-color: deeppink;
}
.bg-class
{
    background-color: teal;
}*/
.box{

    color:red;
    border:5px solid blue;
    display:inline-block;
    padding:20px 40px;
}
